body {
  padding: 20px;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  grid-template-rows: 1.2fr 1fr 0.6fr 0.6fr;
  grid-auto-flow: row;
  grid-gap: column;
  grid-template-areas:
    "pic pic"
    "info info"
    "img1 img2"
    "img3 .";
}

.pic {
  grid-area: pic;
  /* border-radius: 5px; */
}

.info {
  grid-area: info;
  text-align: center;
}

.img1 {
  grid-area: img1;
}
.img1 :hover {
  opacity: 0.5;
}

.img2 {
  grid-area: img2;
}
.img2 :hover {
  opacity: 0.5;
}

.img3 {
  grid-area: img3;
}

.img3 :hover {
  opacity: 0.5;
}

@media (min-width: 976px) {
  .container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1.2fr 0.8fr 0.6fr;
    grid-auto-flow: row;
    grid-template-areas:
      "info pic pic"
      "info pic pic"
      "img1 img2 img3";
  }
  h1 {
    font-size: 400%;
  }

  h1,
  h2,
  h3 {
    color: black;
  }
  .info {
    grid-area: info;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: black;
  }

  .pic {
    grid-area: pic;
    margin-top: 15%;
    /* box-shadow: 5px 5px 5px gray; */
  }

  .img1 {
    grid-area: img1;
    /* border: 1px double #f8f9fa;
    border-radius: 10px; */
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }
}
