* {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h4,
p {
  text-align: center;
}

.col-md-6 {
  /* rgb(33, 37, 41); */
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  /* text-align: center; */
  text-decoration: none;
  /* background-color: rgb(0, 0, 0, 0.596); */
  margin: 5%;
  margin-left: 40%;
}

.fa:hover {
  opacity: 0.7;
}

.icon {
  background-color: rgb(33, 37, 41);
  margin-left: 40%;
}

/* Facebook */
.fa-facebook {
  color: white;
  border-radius: 10px;
  margin-top: 20%;
}

/* LinkedIn */
.fa-linkedin {
  color: white;
  border-radius: 10px;
}

/* instagram */
.fa-instagram {
  color: white;
  border-radius: 10px;
}

/* google */
.fa-google {
  color: white;
  border-radius: 10px;
}

.i {
  text-align: center;
}

@media (min-width: 596px) {
  form {
    margin-left: 40%;
  }

  .fa {
    margin-left: 40%;
    margin-top: 5%;
  }
}
