* {
  padding: 0;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "title title"
    "pic contact"
    "summary summary"
    "skills education"
    "work work"
    "work work";
  background-color: rgb(248, 249, 250);
}

#name {
  color: #154360;
  letter-spacing: 20px;
  margin-top: 5%;
}

.dates {
  color: hsl(83, 11%, 55%);
}

h5 {
  color: #154360;
}

p,
li,
h6 {
  color: #003300;
}

.email {
  float: right;
}

.pic {
  grid-area: pic;
}

.title {
  grid-area: title;
  margin-top: 5% 5%;
}

.skills {
  grid-area: skills;
  margin-top: 2%;
}

.education {
  grid-area: education;
  margin-top: 3%;
}

.contact {
  grid-area: contact;
  margin-top: 40%;
  text-align: center;
}

.summary {
  grid-area: summary;
  margin-top: 5%;
}

.work {
  grid-area: work;
  margin-top: 5%;
}

@media (min-width: 976px) {
  .container {
    grid-column-gap: 50px;
    grid-template-areas:
      "title title title"
      "pic contact contact"
      "pic summary summary"
      "skills work work"
      "education work work";
  }

  .contact {
    margin: 2%;
  }
  .summary {
    margin: 0;
  }

  .education {
    margin-top: 0% 18%;
  }

  .skills {
    margin-top: 20%;
  }

  .work {
    margin-top: 0% 50%;
  }
}
